#logo {
  width: 30%;
}
.ocult{
  display: none;
}
.navbar {
  position: fixed;
  width: 30rem;
  transform: translateX(-110%);
  transition: all 0.5s ease-in-out;
}

.mostrar {
  transform: translateX(0%);
}

@media screen and (max-width: 450px) {
  #logo {
    width: 100%;
  }

}
